version: '3.8'

services:
  #NORMAL-MODE 
  normal:
    build:
      context: ../
      dockerfile: Dockerfile
    links:
      - db
    volumes:
      - ../:/var/lib/mysql
    environment:
      MYSQL_HOST: mysql
      MYSQL_USER: root
      MYSQL_PASSWORD: password
      MYSQL_DB: store_MoMs
    expose:
     - '3306'
    networks:
      - dockernet

  # DATABASE
  db:
    image: mysql:latest
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: store_MoMs
      MYSQL_USER: dhanush
      MYSQL_PASSWORD: password
    networks:
      - dockernet

  #phpmyadmin
  phpmyadmin:
    depends_on:
      - db
    image: phpmyadmin/phpmyadmin:latest
    restart: always
    ports:
      - '8080:80'
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: password
    networks:
      - dockernet

networks:
  dockernet:
volumes:
  db_data:
